@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/* Make Tailwind’s `dark:` utilities follow daisyUI’s data-theme */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 400;
}
* {
  font-family: Poppins;
}

:root,
[data-theme="light"] {
  --color-header-bg: #3535353d;
  --color-background: #262626;
  --color-foreground-primary: #fafafa;
  --color-border-primary: #3d3d3d;
  --color-light-border-primary: #e0e0e0;
  --color-my-primary: #6f42c1;
  --color-foreground: #ffffff;
  --color-foreground-tertiary: #666666;
  --color-light-foreground-tertiary: #f3f3f6;
  --color-light-foreground-primary: #1f1f1f;
  --color-my-secondary: #417f25;
  --color-error: #ef4444;
  --color-background-positive-light: #daf1d0;
  --color-btn-my-primary: #cf2828;
  --shadow-card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

[data-theme="dark"] {
  --color-header-bg: #ffffff1a;
  --color-background: #f3f2f2;
  --color-foreground-primary: #e5e5e5;
  --color-border-primary: #5d5d5d;
  --color-light-border-primary: #4a4a4a;
  --color-my-primary: #8c68d6;
  --color-foreground: #2d2d2d;
  --color-foreground-tertiary: #a3a3a3;
  --color-light-foreground-tertiary: #2a2a2a;
  --color-light-foreground-primary: #e5e5e5;
  --color-my-secondary: #5ca33a;
  --color-my-secondary-button: #daf1d0;
  --color-error: #f87171;
  --color-btn-my-primary: #fff;
  --color-background-positive-light: #4a952f;
  --shadow-card-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

@theme {
  --color-header-bg: var(--color-header-bg);
  --color-background: var(--color-background);
  --color-foreground-primary: var(--color-foreground-primary);
  --color-border-primary: var(--color-border-primary);
  --color-light-border-primary: var(--color-light-border-primary);
  --color-my-primary: var(--color-my-primary);
  --color-foreground: var(--color-foreground);
  --color-foreground-tertiary: var(--color-foreground-tertiary);
  --color-light-foreground-tertiary: var(--color-light-foreground-tertiary);
  --color-light-foreground-primary: var(--color-light-foreground-primary);
  --color-my-secondary: var(--color-my-secondary);
  --color-error: var(--color-error);
  --color-background-positive-light: var(--color-background-positive-light);
  --color-btn-my-primary: #5dcf28;
  --shadow-card-shadow: var(--shadow-card-shadow);
}

@layer components {
  .my-btn {
    @apply cursor-pointer rounded-lg px-3 py-2;
  }

  .my-btn-primary {
    @apply cursor-pointer bg-my-primary text-foreground-primary;
  }

  .btn-outline {
    @apply border border-[#D00000] text-[#D00000];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .row-center {
    @apply flex items-center;
  }
}
