@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/* Make Tailwind’s `dark:` utilities follow daisyUI’s data-theme */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 400;
}
* {
  font-family: Poppins;
}

@theme {
  --color-header-bg: #3535353d;
  --color-background: #262626;
  --color-foreground-primary: #fafafa;
  --color-border-primary: #3d3d3d;
  --color-light-border-primary: #e0e0e0;
  --color-my-primary: #6f42c1;
  --color-foreground: #ffffff;
  --color-foreground-tertiary: #666666;
  --color-light-foreground-tertiary: #f3f3f6;
  --color-light-foreground-primary: #1f1f1f;
  --color-my-secondary: #417f25;
  --color-error: #ef4444;
  --color-background-positive-light: #daf1d0;
  --shadow-card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@layer components {
  .my-btn {
    @apply cursor-pointer rounded-lg px-3 py-2;
  }

  .my-btn-primary {
    @apply cursor-pointer bg-my-primary;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .row-center {
    @apply flex items-center;
  }
}
