@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 400;
}
* {
  font-family: Poppins;
}

@theme {
  --color-header-bg: #3535353d;
  --color-background: #262626;
  --color-foreground-primary: #fafafa;
  --color-border-primary: #3d3d3d;
  --color-my-primary: #6f42c1;
  --color-foreground: #ffffff;
  --color-foreground-tertiary: #666666;
  --color-my-secondary: #417f25;
  --color-error: #ef4444;
  --shadow-card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@layer components {
  .my-btn {
    @apply rounded-lg px-3 py-2;
  }

  .my-btn-primary {
    @apply bg-my-primary;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .row-center {
    @apply flex items-center;
  }
}
